/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding: 10px; /* Add padding of 100px from each side */
}

.container {
    max-width: 400px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], select {
    width: calc(50% - 22px); /* Adjusted width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

.result-container {
    margin-top: 30px;
}

/* styles.css */

/* Display radio buttons inline */
input[type="radio"] {
    display: inline;
    margin-right: 10px; /* Add some spacing between radio buttons */
}

/* Remove bold font-weight for specific label */
label.for-radio {
    font-weight: normal;
}
